{{> ../templates/header}}
{{> ../templates/navbar}}

    <div class="container" style="padding:20px; min-height: calc(100vh);">

    <div class="row">

        <div class="col-lg-8 col-md-12" style="margin: 10px;">

                        <div class="row card card-body bg-light non-rounded non-bordered shadow" style="margin-bottom: 15px;">

                        <h1>Tervetuloa.</h1>

                               <div class="container">

<p>티무는 걱정스러운 K-pop 중독으로 방탄 소년단 (그리고 중국 시민)의 멤버가되고 싶어한다. 티무는 걱정스러운 K-pop 중독으로 방탄 소년단 (그리고 중국 시민)의 멤버가되고 싶어한다. 티무는 걱정스러운 K-pop 중독으로 방탄 소년단 (그리고 중국 시민)의 멤버가되고 싶어한다. 티무는 걱정스러운 K-pop 중독으로 방탄 소년단 (그리고 중국 시민)의 멤버가되고 싶어한다. </p>

                               </div>

                 </div>

                        <div class="row" id="container">

<div class="container">

<div class="row" id="postcontainer">

</div>

                 </div>

    </div>

    </div>

        <div class="col-lg-3 col-md-12" style="margin: 10px;">

                <div class="row card card-body bg-light non-rounded non-bordered shadow" style="margin-bottom: 15px;">

                        <h4>Ad</h4>


{{> ../templates/samplead}}


                 </div>

                <div class="row card card-body bg-light non-rounded non-bordered shadow" style="margin-bottom: 15px;" id="postbar">

                        <h4>Recent Posts</h4>




                 </div>


    </div>


    </div>

    </div>

    </div>

        <script defer src="./cdn/js/post.js"></script>

{{> ../templates/footer}}