{{> ../templates/header}}
{{> ../templates/navbar}}

    <div class="container" style="padding:20px; min-height: calc(100vh);">

    <div class="row">

        <div class="col-lg-7 col-md-12" style="margin: 10px;">


    <div class="row card card-body bg-light non-rounded non-bordered shadow" style="margin-bottom: 15px;">

    <h4>Homepage</h4>

<form>

  <div class="form-group">
    <label for="homepagetitle">Title</label>
    <input class="form-control form-control-sm" type="text" placeholder="Tervetuloa" id="homepagetitle">
  </div>

  <div class="form-group">
    <label for="homepagecontent">Content</label>
    <textarea class="form-control" id="homepagecontent" rows="4" placeholder="Welcome to your no.1 source for news about Teemu's concerning addiction to K-pop!"></textarea>
  </div>

  <button type="button" class="btn btn-primary themebg btn-block" onclick="saveHomepage()">Create</button>

</form>

    </div>

    <div class="row card card-body bg-light non-rounded non-bordered shadow" style="margin-bottom: 15px;">

    <h4>About Us (doesnt work yet oops)</h4>

<form>

  <div class="form-group">
    <label for="aboutustitle">Title</label>
    <input class="form-control form-control-sm" type="text" placeholder="About us" id="aboutustitle">
  </div>

  <div class="form-group">
    <label for="aboutuscontent">Content</label>
    <textarea class="form-control" id="aboutuscontent" rows="4" placeholder="EEEE OOOOO YAYAYYAYAYA OOO OAAA OOO AAA EEE E EE  AAA A A O O O O O A AE EO OEO OAO AO OA AO OAO AO"></textarea>
  </div>

  <button type="button" class="btn btn-primary themebg btn-block" onclick="saveHomepage()">Create</button>

</form>

    </div>

    </div>


    <div class="col-lg-4 col-md-12" style="margin: 10px;">

    <div class="row card card-body bg-light non-rounded non-bordered shadow" style="margin-bottom: 15px;">

    <h4>Add Category</h4>

<form>

  <div class="form-group">
    <label for="categoryid">ID</label>
    <input type="text" class="form-control" id="categoryid" placeholder="world-news">
    <small>Not public; used for internal tracking. Can't include spaces.</small>
  </div>

    <div class="form-group">
    <label for="categoryimage">Image</label>
    <input type="file" class="form-control-file" id="categoryimage" accept="image/*">
  </div>

  <div class="form-group">
    <label for="categoryname">Name</label>
    <input type="text" class="form-control" id="categoryname" placeholder="World News">
  </div>

      <div class="form-group">
    <label for="categorycolora">Left Color</label>
      <input type="color" id="categorycolora" name="head"
           value="#56CCF2">
  </div>

      <div class="form-group">
    <label for="categorycolorb">Right Color</label>
      <input type="color" id="categorycolorb" name="head"
           value="#2F80ED">
  </div>

  <button type="button" class="btn btn-primary themebg btn-block" onclick="addCategory()">Create</button>

</form>

    </div>

    </div>


    </div>

    <div class="row">



    </div>

    </div>

    </div>

<script defer src="../../cdn/js/post.js"></script>
<script defer src="../../cdn/js/categories.js"></script>

<script>
populate();
</script>

{{> ../templates/footer}}