{{> ../templates/header}}
{{> ../templates/navbar}}

<div id="loginbg" style="position: fixed !important;"></div>
  <div class="container" style="padding:20px">
    <div class="row">
    <div class="col-md-3"></div>
      <div class="sep col-lg-6 col-md-6 col-sm-12 card card-body bg-light non-rounded non-bordered shadow">
          <h1>Direct</h1>
            <form>

              <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
              </div>

              <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1">
              </div>

              <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Remember me</label>
              </div>

              <div style="row">
                <div class="col-md-8">
                  <button type="button" class="btn btn-primary themebg btn-block">Log in</button>
                </div>
                <div class="col-md-4">
                  <button type="button" class="btn btn-primary themebg btn-block">Register</button>
                </div>
              </div>

            </form>
        </div>
      <div class="col-md-3"></div>
      </div>

    </div>

    <script src="./cdn/js/authenticate.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lipis/bootstrap-social/bootstrap-social.css"></link>

{{> ../templates/footer}}