{{> ../templates/header}}
{{> ../templates/navbar}}

<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">

    <div class="container" style="padding:20px; min-height: calc(100vh);">

    <div class="row">

        <div class="col card card-body bg-light non-rounded non-bordered">

        <h1>{{pageTitle}}</h1>

        <input class="form-control" id="title" placeholder="Title" style="margin-bottom: 5px; border-radius: 0;">
        <textarea placeholder="Sample paragraph" class="form-control" id="exampleFormControlTextarea1" rows="3" style="height: 100%;margin-bottom: 5px;border-radius:0;"></textarea>

<div id="editor" style="max-height: 50vh;margin-bottom: 20px;"></div>

    <label for="exampleFormControlFile1">Cover image</label>
    <input type="file" class="form-control-file" id="exampleFormControlFile1" accept="image/*">

    <button type="button" class="btn btn-primary themebg btn-block" onclick="postPost('{{user.uid}}')" style="margin-top: 20px">Post</button>

    </div>

    </div>

    </div>

    </div>

<script src="../../cdn/js/quill-emoji.js"></script>
<script src="../../cdn/js/post.js"></script>
<link href="../../cdn/css/quill-emoji.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/gh/visualjerk/quill-magic-url/dist/index.js"></script>
<script src="https://cdn.jsdelivr.net/gh/kensnyder/quill-image-resize-module/image-resize.min.js"></script>

<script src="../../cdn/js/init-quill.js"></script>

{{> ../templates/footer}}