{{> ../templates/header}}
{{> ../templates/navbar}}

    <div class="container" style="padding:20px">

    <div class="row">

        <div class="col card card-body bg-light non-rounded non-bordered">

        <h1>{{pageTitle}}</h1>

        <div class="container">

        <div class="row">

        <div class="col text-center">
        <button onClick="signIn()" class="btn btn-outline-success my-4">Sign In</button>
        </div>
        <div class="col text-center">
        <button onClick="sendRequest()" class="btn btn-outline-info my-4">Send Request</button>
        </div>
        <div class="col text-center">
        <button onClick="signOut()" class="btn btn-outline-danger my-4">Sign Out</button>
        </div>

</div>

<div class="row">

<div class="col text-center">

        <p class="lead" id="response">No data yet...</p>

        </div>
<div class="col text-center">

        <p class="lead" id="auth">Unauthorized</p>
                </div>

        </div>

        </div>

        <script>

    function signIn() {
      firebase.auth()
      .signInWithEmailAndPassword("dummy@gmail.com", "pass123!")
      .then(() => {
        document.getElementById('auth').innerHTML = 'Authorized'
      }).catch((err) => {
        document.getElementById('auth').innerHTML = err
      })
    }

    function signOut() {
      firebase.auth().signOut().then(() => {
        document.getElementById('auth').innerHTML = 'Unauthorized'
      }).catch((err) => {
        document.getElementById('auth').innerHTML = err
      })
    }

        function sendRequest () {

const client = axios.create({
  baseURL: 'http://localhost:3000',
  json: true
})

      if (firebase.auth().currentUser) {
        firebase.auth().currentUser.getIdToken(true)
        .then((idToken) => {
          client({
            method: 'get',
            url: '/ping',
            headers: {
              'AuthToken': idToken
            }
          }).then((res) => {
            document.getElementById('response').innerHTML = res.data.message
          }).catch((error) => {
            document.getElementById('response').innerHTML = error
          })
        }).catch((error) => {
          document.getElementById('response').innerHTML = "Error getting auth token"
        });
      } else {
        client({
          method: 'get',
          url: '/ping'
        }).then((res) => {
          document.getElementById('response').innerHTML = res.data.message
        }).catch((error) => {
          document.getElementById('response').innerHTML = error
        })
      }

        }

        </script>

    </div>

  </div>

{{> ../templates/footer}}