{{> ../templates/header}}
{{> ../templates/navbar}}

    <div class="container" style="padding:20px">

    <div class="row">

        <div class="col card card-body bg-light non-rounded non-bordered shadow">

        <h1>{{pageTitle}}</h1>

        <div class="container">

        <div class="row">

        <div class="col text-center">
        <button onClick="signIn()" class="btn btn-outline-success my-4">Sign In</button>
        </div>
        <div class="col text-center">
        <button onClick="sendRequest()" class="btn btn-outline-info my-4">Send Request</button>
        </div>
        <div class="col text-center">
        <button onClick="signOut()" class="btn btn-outline-danger my-4">Sign Out</button>
        </div>

</div>

<div class="row">

<div class="col text-center">

        <p class="lead" id="response">No data yet...</p>

        </div>
<div class="col text-center">

        <p class="lead" id="auth">Unauthorized</p>
                </div>

        </div>

        </div>

    </div>

    </div>

    </div>

    </div>

        <script src="./cdn/js/authenticate.js"></script>

{{> ../templates/footer}}