{{> ../templates/header}}
{{> ../templates/navbar}}

    <div class="container" style="padding:20px; min-height: calc(100vh);">

    <div class="row">

        <div class="col-8" style="margin: 10px;">

                        <div class="row card card-body bg-light non-rounded non-bordered shadow" style="margin-bottom: 15px;">

                        <h1>Tervetuloa.</h1>

                               <div class="container">

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc gravida aliquam sem, eu ultrices eros sodales suscipit. Pellentesque at laoreet felis. Sed vitae vulputate velit, in commodo ex. Maecenas non ante nulla. Curabitur eget finibus nisl. Quisque egestas tempus dolor elementum sodales. Pellentesque ut purus orci.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc gravida aliquam sem, eu ultrices eros sodales suscipit. Pellentesque at laoreet felis. Sed vitae vulputate velit, in commodo ex. Maecenas non ante nulla. Curabitur eget finibus nisl. Quisque egestas tempus dolor elementum sodales. Pellentesque ut purus orci.</p>

                               </div>

                 </div>


                        <div class="row" id="container" style="margin-bottom: 15px;">

                 </div>

    </div>



        <div class="col-3" style="margin: 10px;">

                <div class="row card card-body bg-light non-rounded non-bordered shadow" style="margin-bottom: 15px;">

                        <h4>Search</h4>

                               <div class="container">



                               </div>

                 </div>

                <div class="row card card-body bg-light non-rounded non-bordered shadow" style="margin-bottom: 15px;">

                        <h4>Ad</h4>

                               <div class="container">



                               </div>

                 </div>

    </div>

    </div>

    </div>

    </div>

        <script src="./cdn/js/authenticate.js"></script>
        <script defer src="./cdn/js/post.js"></script>

{{> ../templates/footer}}