{{> ../templates/header}}
{{> ../templates/navbar}}

    <div class="container" style="padding:20px; min-height: calc(100vh);">

    <div class="row">

        <div class="col-8" style="margin: 10px;">

                        <div class="row card card-body bg-light non-rounded non-bordered shadow" style="margin-bottom: 5%;">

                        <h1 id="postTitle"></h1>

                        <img id="image" style="width: 100%; margin-bottom: 15px; border-radius: 10px;"></img>

                               <div class="container" id="postBody" style="margin-top: 5%;">


                               </div>

                 </div>

    </div>

        <div class="col-3" style="margin: 10px;">

                <div class="row card card-body bg-light non-rounded non-bordered shadow" style="margin-bottom: 15px;">

                        <h4>Author</h4>

                               <div class="container">

<div class="row">

<img id="authorIcon" style="margin-top: 15px; width: 100px; height: 100px; border-radius: 100px; display: block; margin-left: auto; margin-right: auto;"></img>

</div>

<div class="row" style="margin-top: 15px;">
<h5 id="authorName" style="display:block;margin-left:auto;margin-right:auto;word-wrap: break-word;"></h5>
</div>

<div class="row" style="margin-top: 15px;">
<p id="authorBio" style="display:block;margin-left:auto;margin-right:auto;word-wrap: break-word;text-justify: inter-word;width:100%;"></p>
</div>

                               </div>

                 </div>

                <div class="row card card-body bg-light non-rounded non-bordered shadow" style="margin-bottom: 15px;">

                        <h4>Ad</h4>

                               <div class="container">



                               </div>

                 </div>

    </div>

    </div>

    </div>

    </div>

        <script src="/cdn/js/authenticate.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/core.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/md5.js"></script>
        <script defer src="/cdn/js/post.js"></script>

{{> ../templates/footer}}